{% extends "base.html" %}
{% load static %}
{% block content %}
<div id="container" class="row">
    <div id="sidebar" class="col-md-3 col-lg-3 d-none d-md-block">
        <div id="leaderboard" style="border: 2px solid green; padding: 10px; margin-left: 10px;">
            <h2>Leaderboard</h2>
            {% if leaderboard %}
            {% for player in leaderboard %}
            <div style="padding: 5px; margin-bottom: 5px;" class="{% cycle 'bg-lightgrey' 'bg-white' %}">
            {{ player.name }}: {{ player.score }}
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
    {% if user.is_authenticated %}
    <div id="game-container" class="col-12 col-md-6 col-lg-6 text-center">
        <canvas id="game-board"></canvas>
        <div id="arrows">
            <img src="{% static 'snake/images/up-key.png' %}" alt="up arrow key" id="up">
            <img src="{% static 'snake/images/left-key.png' %}" alt="left arrow key" id="left">
            <img src="{% static 'snake/images/down-key.png' %}" alt="down arrow key" id="down">
            <img src="{% static 'snake/images/right-key.png' %}" alt="right arrow key" id="right">
        </div>
    </div> 
    <div id="score-panel" class="col-12 col-md-3 col-lg-3">
        <button id="start-stop-button" class="start-button">Start</button>
        <span class="start-button">Score: <span id="score">0</span></span>
        <div id="mobile-scoreboard" class="start-button">
            <h2>High Score: <span id="high-score">0</span></h2>
        </div>        
        <h2 class="start-button">Time Left: <span id="timer">10</span>s</h2>
        <!-- Score submission form -->
        <form id="score-form" method="post" action="{% url 'submit_score' %}">
            {% csrf_token %}
            <input type="hidden" name="score" id="score-input">
            <button type="submit" class="start-button">Submit Score</button>
        </form>
    </div>
    {% else %}
    <div class="col-12 text-center">
        <p>Please <a href="{% url 'login' %}">log in</a> to play the game.</p>
    </div>
    {% endif %}
</div>
<!-- Audio elements for sound effects -->
<audio id="turn-sound" src="{% static 'snake/sounds/turn.wav' %}" preload="auto"></audio>
<audio id="game-over-sound" src="{% static 'snake/sounds/gameend.mp3' %}" preload="auto"></audio>
<audio id="food-sound" src="{% static 'snake/sounds/grabfood.wav' %}" preload="auto"></audio>

<script src="{% static 'snake/js/snake.js' %}"></script>
{% endblock %}